<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/public/images/favicon.ico">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <title>New URL - TinyApp Example</title>
</head>

<body id="gradient">
  <%- include('partials/_header') %>

    <div class="card">
      <img src="../public/images/400_bad_request.png" class="card-img-overlay mx-auto" style="max-height:90vh"
        alt="400 - Bad Request">
      <div class="card-img-overlay">
        <h5 class="card-title">Uh oh!</h5>
        <p class="card-text">Master Roshi was expecting different credentials</p>
        <p class="card-text">
          <large>Error 400 - Bad Credentials</large>
        </p>
        <form action="/register" method="GET"><button type="submit" class="btn btn-link btn-sm">Return to Registration
            Page</button></form>
        <form action="/login" method="GET"><button type="submit" class="btn btn-link btn-sm">Return to Login
            Page</button></form>
      </div>
    </div>
</body>

</html>